<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>get data for linechart</description>
    <display-name>PerfsonarServlet</display-name>
    <servlet-name>PerfsonarServlet</servlet-name>
    <servlet-class>cn.edu.buaa.jsi.servlet.PerfsonarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>node info</description>
    <display-name>NodeInfoServlet</display-name>
    <servlet-name>NodeInfoServlet</servlet-name>
    <servlet-class>cn.edu.buaa.jsi.servlet.NodeInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>GetTransferTime</description>
    <display-name>GetTransferTime</display-name>
    <servlet-name>GetTransferTimeServlet</servlet-name>
    <servlet-class>cn.edu.buaa.jsi.servlet.GetTransferTimeServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>PerfsonarServlet</servlet-name>
    <url-pattern>/PerfsonarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NodeInfoServlet</servlet-name>
    <url-pattern>/NodeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTransferTimeServlet</servlet-name>
    <url-pattern>/GetTransferTimeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>